body {
   box-sizing: border-box;
}
#header-background {
    background-image: url("./images/Forest.jpg");
    background-size:cover;
    height: 661px;
}

.mask {
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
}

i {
    color:aliceblue;

}

i:hover {
    color:#535c55;
    
}

ul {
 list-style: none;
}

#about{
    color: #7c8c94
}

.me {
    height: 20em;
    width: auto;
    border-radius: 50%;
}

button.btn {
    background-color: #b3b5be;
}

button.btn:hover {
    background-color: #97bed0 !important
}



#resume {
    background-color: #7c8c94;
    color:#3c4e43
}

#resume h3 {
    border-bottom: solid #97bed0;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#resume h3, h4, h6 {
    color:black;
}

#resume hr {
    color:#97bed0
}

#work {
    background-color: #3c4e43;
}

div.project a img{
    border-radius: 10px;
}

div.project a:hover {
    opacity: 0.5;
}

div.modal-content {
    color:#3c4e43;
}

a.btn.btn-secondary {
    background-color: #97bed0;
}

a.btn.btn-secondary:hover {
    background-color: aqua !important
}

#contact {
    color: #7c8c94;
    padding: 3em
}

#contact i {
    color: #7c8c94;
}

#email {
    text-decoration: none;
    color: #b3b5be;
    font-weight: bold;
}

#email:hover{
    color:#97bed0;
}


footer {
    height: 80px;
    background-color: #b3b5be;
}